    <!DOCTYPE html>
    <html lang="en">

    <head>

    </head>

    <body>

        <!--===== Preloader ====-->
        <div class="preloader">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <!--======= WELCOME AREA =======-->
        <div id="home" class="welcome-area" data-stellar-background-ratio="0.6"
            style="background-image: url(assets/images/video-bg.jpg);">
            <a class="player"
                data-property="{videoURL:'https://www.youtube.com/watch?v=0wCC3aLXdOw&t=43s',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></a>
            <div class="welcome-table">
                <div class="welcome-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                                <div class="welcome-text">
                                    <h2><span class="bold">Let's</span> Build Something <span class="bold">Great</span>
                                        Together</h2>
                                    <p>I'm the pixel crafter based in <strong>#USA</strong>. I make the visual for web
                                        and mobile application to be more interactive</p>
                                    <a class="scroll-btn btn theme-color" href="#about">View Profile</a>
                                </div>
                            </div>
                        </div>
                        <!--/.row-->
                    </div>
                    <!--/.container-->
                </div>
            </div>
        </div>
        <!--===== END WELCOME AREA =====-->


        <!--============= ABOUT SECTION =============-->
        <section id="about" class="about-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="author-image wow fadeInLeft" data-wow-delay="0.2s">
                            <img src="assets/images/author.jpg" alt="Author Image">
                            <!--=== author image ===-->
                            <p>Johnathan Doe - <span class="theme-color">Web Developer</span></p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="about-text wow fadeInRight" data-wow-delay="0.2s">
                            <h3 class="theme-color">Hello, that's me!</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <p>It has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <div class="about-btn">
                                <a class="scroll-btn btn theme-color" href="#">Download Resume</a>
                                <a class="scroll-btn btn theme-color" href="#">Hire Me</a>
                            </div>
                        </div>
                    </div>

                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </section>
        <!--============= END ABOUT SECTION =============-->


        <!--================= SERVICES SECTION ==============-->
        <section id="services" class="services-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="section-title">
                            <h2>what i do.</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-service text-center">
                            <div class="servise-icon theme-color">
                                <i class="fa fa-code"></i>
                            </div>
                            <h4>web design</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-service text-center">
                            <div class="servise-icon theme-color">
                                <i class="fa fa-wordpress"></i>
                            </div>
                            <h4>development</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-service text-center">
                            <div class="servise-icon theme-color">
                                <i class="fa fa-pencil-square"></i>
                            </div>
                            <h4>Graphic design</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-service text-center">
                            <div class="servise-icon theme-color">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <h4>UI/UX DESIGN</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                    </div>

                </div>

            </div>
            <!--/.container-->
        </section>
        <!--=============== END SERVICES SECTION =================-->


        <!--============ PORTFOLIO SECTION ===========-->
        <section id="work" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-title">
                            <h2>work.</h2>
                            <p>Here's some of my recent work from my portfolio</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <ul class="work">
                        <li class="filter theme-color active" data-filter="all">all</li>
                        <li class="filter theme-color" data-filter=".webdesign">web design</li>
                        <li class="filter theme-color" data-filter=".development">development</li>
                        <li class="filter theme-color" data-filter=".graphic">graphic design</li>
                    </ul>
                </div>

                <div class="work-inner wow fadeInUp" data-wow-delay="0.4s">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 single-work mix webdesign">
                            <div class="full-work">
                                <img src="assets/images/portfolio/item1.jpg" alt="">
                                <div class="itemHover">
                                    <div class="work-table theme-color">
                                        <div class="table-cell">
                                            <div class="hover-content">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry</p>
                                                <a href="#" class="theme-color"><i class="fa fa-link"></i></a>
                                                <a href="assets/images/portfolio/item1.jpg"
                                                    class="image-popup theme-color"><i class="fa fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 single-work mix webdesign">
                            <div class="full-work">
                                <img src="assets/images/portfolio/item2.jpg" alt="">
                                <div class="itemHover">
                                    <div class="work-table theme-color">
                                        <div class="table-cell">
                                            <div class="hover-content">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry</p>
                                                <a href="#" class="theme-color"><i class="fa fa-link"></i></a>
                                                <a href="assets/images/portfolio/item2.jpg"
                                                    class="image-popup theme-color"><i class="fa fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 single-work mix development">
                            <div class="full-work">
                                <img src="assets/images/portfolio/item3.jpg" alt="">
                                <div class="itemHover">
                                    <div class="work-table theme-color">
                                        <div class="table-cell">
                                            <div class="hover-content">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry</p>
                                                <a href="#" class="theme-color"><i class="fa fa-link"></i></a>
                                                <a href="assets/images/portfolio/item3.jpg"
                                                    class="image-popup theme-color"><i class="fa fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 single-work mix development">
                            <div class="full-work">
                                <img src="assets/images/portfolio/item4.jpg" alt="">
                                <div class="itemHover">
                                    <div class="work-table theme-color">
                                        <div class="table-cell">
                                            <div class="hover-content">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry</p>
                                                <a href="#" class="theme-color"><i class="fa fa-link"></i></a>
                                                <a href="assets/images/portfolio/item4.jpg"
                                                    class="image-popup theme-color"><i class="fa fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 single-work mix graphic">
                            <div class="full-work">
                                <img src="assets/images/portfolio/item5.jpg" alt="">
                                <div class="itemHover">
                                    <div class="work-table theme-color">
                                        <div class="table-cell">
                                            <div class="hover-content">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry</p>
                                                <a href="#" class="theme-color"><i class="fa fa-link"></i></a>
                                                <a href="assets/images/portfolio/item5.jpg"
                                                    class="image-popup theme-color"><i class="fa fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 single-work mix graphic">
                            <div class="full-work">
                                <img src="assets/images/portfolio/item6.jpg" alt="">
                                <div class="itemHover">
                                    <div class="work-table theme-color">
                                        <div class="table-cell">
                                            <div class="hover-content">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry</p>
                                                <a href="#" class="theme-color"><i class="fa fa-link"></i></a>
                                                <a href="assets/images/portfolio/item6.jpg"
                                                    class="image-popup theme-color"><i class="fa fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/.row-->
                </div>
            </div>
            <!--/.container-->
        </section>
        <!--============== END PORTFOLIO SECTION ===================-->


        <!--====== QUOTES AREA =====-->
        <div class="quotes-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="quotes-content text-center">
                            <h3>Let's work together!</h3>
                            <p>I am available for freelance projects.</p>
                            <a class="scroll-btn btn theme-color" href="#contact">Get Quotes</a>
                        </div>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </div>
        <!--====== END QUOTES AREA =======-->


        <!--================== TESTIMONIAL SECTION ====================-->
        <div id="testimonial" class="testimonial-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="section-title">
                            <h2>What people say.</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="testimonial-list">
                            <div class="single-testimonial">
                                <div class="t-author">
                                    <div class="t-image">
                                        <img src="assets/images/testimonial/1.jpg" alt="">
                                    </div>
                                    <div class="t-name">
                                        <h4>jhon doe</h4>
                                        Graphic Designer
                                    </div>
                                </div>
                                <div class="t-content">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adiping elit, sed diam nonummy nibh
                                        euismod tinunt ut laoreet dolore magna aliquam.</p>
                                </div>
                            </div>
                            <div class="single-testimonial">
                                <div class="t-author">
                                    <div class="t-image">
                                        <img src="assets/images/testimonial/2.jpg" alt="">
                                    </div>
                                    <div class="t-name">
                                        <h4>jhon doe</h4>
                                        Graphic Designer
                                    </div>
                                </div>
                                <div class="t-content">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adiping elit, sed diam nonummy nibh
                                        euismod tinunt ut laoreet dolore magna aliquam.</p>
                                </div>
                            </div>
                            <div class="single-testimonial">
                                <div class="t-author">
                                    <div class="t-image">
                                        <img src="assets/images/testimonial/3.jpg" alt="">
                                    </div>
                                    <div class="t-name">
                                        <h4>jhon doe</h4>
                                        Graphic Designer
                                    </div>
                                </div>
                                <div class="t-content">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adiping elit, sed diam nonummy nibh
                                        euismod tinunt ut laoreet dolore magna aliquam.</p>
                                </div>
                            </div>
                            <div class="single-testimonial">
                                <div class="t-author">
                                    <div class="t-image">
                                        <img src="assets/images/testimonial/4.jpg" alt="">
                                    </div>
                                    <div class="t-name">
                                        <h4>jhon doe</h4>
                                        Graphic Designer
                                    </div>
                                </div>
                                <div class="t-content">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adiping elit, sed diam nonummy nibh
                                        euismod tinunt ut laoreet dolore magna aliquam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- / row -->
            </div>
        </div>
        <!--============== END TESTIMONIAL SECTION ===============-->


        <!--================ CONTACT INFO SECTION =================-->
        <section id="contact" class="contact-info-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-title">
                            <h2>contact.</h2>
                            <p>let's work together projects and just send me email here</p>
                        </div>
                    </div>
                </div>
                <div class="row wow fadeInUp" data-wow-delay="0.4s">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="contact-form">
                            <form id="contact-form" method="post" action="contact.php" role="form">

                                <div class="messages"></div>

                                <div class="controls">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input id="form_name" type="text" name="name" class="form-control"
                                                    placeholder="Name*" required="required"
                                                    data-error="Name is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input id="form_email" type="email" name="email" class="form-control"
                                                    placeholder="Email*" required="required"
                                                    data-error="Valid email is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea id="form_message" name="message" class="form-control"
                                                    placeholder="Message*" rows="4" required="required"
                                                    data-error="Please,leave us a message."></textarea>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="submit" class="btn btn-effect theme-color btn-send"
                                                value="Send message">
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <meta charset="utf-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1">

                    <!-- CSRF Token -->
                    <meta name="csrf-token" content="{{ csrf_token() }}">

                    <title>{{ config('app.name', 'Laravel') }}</title>

                    <!-- Scripts -->
                    <script src="{{ asset('js/app.js') }}" defer></script>

                    <!-- Fonts -->
                    <link rel="dns-prefetch" href="//fonts.gstatic.com">
                    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

                    <!-- Styles -->
                    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="full-adress">
                            <div class="contact-padding col-md-12">
                                <p class="phone">Phone: <a href="tel:+444123456">+44 4123456</a></p>
                            </div>
                            <div class="contact-padding col-md-12">
                                <p class="mail">Email: <a href="mailto:willey@yourdomain.com">mail@yourdomain.com</a>
                                </p>
                            </div>
                            <div class="contact-padding col-md-12">
                                <p class="adress">Address: Bak-One Company<br>12345 Hollywood Bvld Street<br> Los
                                    Angeles, California</p>
                            </div>
                        </div>
                    </div>

                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </section>
        <!--================= END CONTACT INFO SECTION ===============-->
